@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Diese Seite verwendet Cookies um deine Login-Session zu speichern.</p>
<p>Ansonsten brauchst du keine Mailadresse anzugeben, aber die hilft beim Passwort zurücksetzen. Die Adresse wird ausschließlich für Zwecke dieser Applikation genutzt, nicht für Werbung oder sonstwas.</p>
<p>Die Passwörter sind nach Microsoft-Standard (<a href="https://docs.microsoft.com/de-de/aspnet/core/security/data-protection/consumer-apis/password-hashing?view=aspnetcore-3.0"></a>PBKDF2</a>) gehasht und ich kann die somit nicht lesen. </p>
<p>Ich übernehme trotzdem keine Garantie dass nicht die Datenbank verlorengeht, auch wenn ich schaue dass ich alles aktuell halte ist das hier immer noch ein Freizeitprojekt.</p>
<p>Dinge wie Passwort oder Mailadresse ändern findest Du wenn du oben auf deinen Namen klickst.</p>
<p>Dort kannst du auch deinen <a href="/Identity/Account/Manage/PersonalData">Account löschen</a></p>
<p>Erreichen kannst Du mich unter MM ÄÄÄÄÄT compufreak.rocks </p>


<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
