@page
@model MatchMaker.Pages.RepsModel
@{
    ViewData["Title"] = "Reps";
}

<h1>Reps</h1>

<p>Die Seite wurde gebastelt von <a href="https://steamcommunity.com/id/compufreak/">Compufreak</a>.</p>

<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
